@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to<br>Recipe Rush</h1>
    <br>
    <h4>The smartest and most helpful food platform in existence!</h4>
    <br>
    <p>We're fulfilling this mission by improving life in the kitches for over 30 million home cooks around the world.</p>
</div>
<br>
<div class ="container">
    <div class ="row">
        <div class ="col-4 text-center">
            <h1>4.5+</h1>
            <p>Website Rating</p>
        </div>
        <div class ="col-4 text-center" >
            <h1>2M+</h1>
            <p>Recipes</p>
        </div>
        <div class ="col-4 text-center">
            <h1>30M+</h1>
            <p>Active Users</p>
        </div>
    </div>
</div>
<br>
<div class ="container">
    <div class ="row">
        <div class ="col-4 text-center">
            <img src = "Pancakes.jpg" width = 350 length = 250>
        </div>
        <div class ="col-4 text-center" >
            <img src = "Monkey Bread.jpg" width = 350 length = 250>
        </div>
        <div class ="col-4 text-center">
            <img src = "Spring Rolls.jpg" width = 350 length = 250>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<div class ="container">
    <div class ="row">
        <div class ="col-12 text-center">
            <h1>Coming Soon!!</h1>
            <br>
            <h2>Find the<br>Perfect Recipe</h2>
        </div>
    </div>
</div> 
<div class ="container">
    <div class ="row">
        <div class ="col-12 text-center">
            <img src = "Find.jpg" width = 400 length = 450>
        </div>
    </div>
</div>
<br>
<div class ="container">
    <div class ="row">
        <div class ="col-12 text-center">
            <h5>Search & Filter</h5>
            <p>Recipe Rush's unique search filters allow you to narrow down your search by cook time, course, cuisine, occasion, diet, allergy, nutrition, and more!</p>
        </div>
    </div>
</div>
<br>
<div class ="container">
    <div class ="row">
        <div class ="col-12 text-center">
            <h5>Diet & Allergy</h5>
            <p>Tell Recipe Rush your diet needs and allergies, and you'll only see recipes that work for you.</p>
        </div>
    </div>
</div>
<br>
<div class ="container">
    <div class ="row">
        <div class ="col-12 text-center">
            <h5>Collect Your Favorites</h5>
            <p>Use the Recipe Rush Like button to save and organize recipes in your personal recipe box.</p>
        </div>
    </div>
</div>
<br>
<div class ="container">
    <div class ="row">
        <div class ="col-12 text-center">
            <h5>Browse for Inspiration</h5>
            <p>Not sure where to start? Browse through article content to read about kitchen tips, trending foods, and recipe roundups.</p>
        </div>
    </div>
</div>
<hr>
<br>
<div class="text-center">
    <h1>Here's what others are saying.</h1>
</div>
<br>
<div class ="container">
    <div class ="row">
        <div class ="col-12 text-center">
            <img src = "Time.png" width = 100 length = 150>
            <br>
            <h5>"Recipe Rush allows you to browse beautifully photograhs<br>and is easy-to-folow recipes and save them to your own digital cookbook."</h5>
        </div>
    </div>
</div>
<br>
<div class ="container">
    <div class ="row">
        <div class ="col-12 text-center">
            <img src = "Today.jpg" width = 150 length = 200>
            <br>
            <h5>"Recipe Rush is a great cooking website that helps<br>you discover recipes personalized to your tastes."</h5>
        </div>
    </div>
</div>
<br>
<div class ="container">
    <div class ="row">
        <div class ="col-12 text-center">
            <img src = "Apple Store.jpg" width = 100 length = 150>
            <br>
            <h5>One of Apple's top 100<br>"Essential" apps</h5>
        </div>
    </div>
</div>